h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-transform: uppercase;

}

hr{
    border-top: lightgray;
    margin-left: 2%;
    width: 29%
}

img{
    width: 28%;
    height: auto;
    padding: 2%;
}
